body {
    /* margin: 0; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color:rgb(208, 214, 240);
  
  }
     
  
  .list-group{
  
    font-size: 24px;
    color: #0300cf;
  
  }
  
  p {
    font-size: 24px;
  }
  /* Displays navigationn bar information */
   .navbar {
    margin: 0px;
    background-color: rgb(208, 214, 240);
    color:rgb(204, 163, 241);
    font-size: 25px;  
    
  }
  
  .navbar h1  {
    width: 70%;
    /* font-weight: 500;  */
  
   }
  
   /* links to */
   #navigation {
    display: flex;
    width: 40%;
    align-items: left;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
  }
  
  .first-project{
  
    background-color: rgb(208, 214, 240);
    color: black;
    font-size:25px;
    margin: 0;
  
  }
  
  .card {
  
    background-color: rgb(208, 214, 240)
  
  }
  /* contact me page */
  
  #contact-me{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      width: 50%; 
      align-items: right;
      justify-content:space-evenly;
      background-color: rgb(208, 214, 240); 
      font-size: 20px;
      text-decoration: underline; 
      /* absolute positioning */
      /* position: absolute;
      right: 0; */
  
    }
  
  
  #Contact-Me2{
   
  font-size:25px;
   text-align: center;
  align-items: left;
  justify-content:space-evenly;
  border-style: solid;
  border-color: #b90a21;
    
  
  }
     
  
  
  
  h1, 
  h2,
  h3,
  h4,
  h6 {
    margin: 0;
    color:blue
  } 
  
  
  h2{
  
  font-size: 30px;
  
  }
  /* p {
    margin: 0;
  } */
  
  
  .my-story{
  width: 50%;
  background-color: rgb(208, 214, 240);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  
  }
  
  .btn-primary {
    display: block;
    width: 30%;
    border: none;
    background-color: #3e6456;
    /* padding: 14px 28px; */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .lady-image{
  border-radius: 20px;  
  padding: 10px;
  margin: 0;
  
  
  }
  
  #my-pic{
  
  padding: 10px;
  
  border: 10px solid hsl(229, 82%, 24%);
  border-radius: 4px;
    
  }
  /* Buttons arranged in column on xs devices */
  @media screen and (max-width: 576px) {
    .btn, .responsive-content {
        width: 80%;
        padding: 10px 15px;
        margin: 5px 10px;
    }
  
  }
  @media (max-width:750px) {
    .btn, .responsive-content {
        font-size: 1.5vw;
    }
  
  }
  @media (max-width: 1000px) {
    .btn, .responsive-content {
        font-size: 1.7vw;
        height: 2.3vw;
        width: 22vw;
    }
  }