#nav-link {
    font-style: italic;
    font-size: small;
    color: yellowgreen !important;
}

/* .jumbotron { */
    /* background-color: rgb(91, 91, 179) !important; */

/* } */

.h1 {
    font-style: italic;
}

.list-group {
    background-color: blue! important
}



 p {

    color:brown
 }
/* contact me page */
#Contact-Me {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    width: 50%; 
    align-items: center;
    justify-content:space-evenly;
    background-color: gray; 
    font-size: small;
    text-decoration: underline; 
    /* absolute positioning */
    position: absolute;
    right: 0;
  }
