#nav-link {
    font-style: italic;
    font-size: small;
    color: yellowgreen !important;
}

#jumbotron {
    background-color: blue !important;

}

.h1 {
    font-style: italic;
}

.list-group {
    background-color: blue! important
}

/* contact me page */
#Contact-Me {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    /* width: 70%;  */
    align-items: center;
    justify-content:space-evenly;
    background-color: gray; 
    font-size: small;
    text-decoration: underline; 
  }
